version: d

jobs:
    build:
      docker:
#        - image: circleci/golang:1.12.3
        - image: circleci/openjdk:8-jdk-browsers
      working_directory: ~/src/github.com/tietang/props

      steps:
        - checkout
        - run: |
            pwd
            mkdir -p bin
            wget https://releases.hashicorp.com/consul/1.4.4/consul_1.4.4_linux_amd64.zip
            unzip consul_1.4.4_linux_amd64.zip  -d ./bin/
            wget https://github.com/coreos/etcd/releases/download/v3.3.8/etcd-v3.3.8-linux-amd64.tar.gz
            tar -zxvf etcd-v3.3.8-linux-amd64.tar.gz
            mv ./etcd-v3.3.8-linux-amd64/etcd ./bin
            pwd
            ls ./bin
            wget https://dl.google.com/go/go1.12.5.linux-amd64.tar.gz
            tar -zxvf go1.12.5.linux-amd64.tar.gz
            export GOROOT=`pwd`/go
            export GOPATH=`pwd`/go_third
            export PATH=`pwd`/jdk1.8.0_171/bin:`pwd`/go/bin:`pwd`/bin:`pwd`:$PATH
            echo $PATH
            java -version
            go version
            export GO111MODULE=on
            go mod tidy
            pwd
            go test -i -v -race ./...
            go test -race ./... -covermode atomic -coverprofile=coverage.txt